<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>{{ site.title }} {{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{site.description}}" />
    <link rel="stylesheet" href="{{'/assets/css/main.css' | url}}" />
    <noscript>
        <link rel="stylesheet" href="{{'/assets/css/noscript.css' | url}}" />
    </noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in"> 
        {% if page.url == '/' %}
        <!-- Intro -->
        <div id="intro">
            <h1>This is<br />
                Massively</h1>
            <p>A free, fully responsive HTML5 + CSS3 site template designed by <a
                    href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a><br />
                and released for free under the <a href="https://html5up.net/license">Creative Commons license</a>.</p>
            <ul class="actions">
                <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>
        {% endif %}

        <!-- Header -->
        <header id="header">
            <a href="{{'/' | url}}" class="logo">Massively</a>
        </header>

        <!-- Nav -->
        {% include "partials/nav.njk" %}


        <!-- Main -->
        <div id="main">

            {{ content | safe }}

        </div>

        <!-- Footer -->
        <footer id="footer">
            <section>
                <h3>About</h3>
                <p>Something about this project.</p>
            </section>
            <section class="split contact">
                <section class="alt">
                    <h3>Address</h3>
                    <p>1234 Somewhere Road #87257<br />
                        Nashville, TN 00000-0000</p>
                </section>
                <section>
                    <h3>Phone</h3>
                    <p><a href="#">(000) 000-0000</a></p>
                </section>
                <section>
                    <h3>Email</h3>
                    <p><a href="#">info@untitled.tld</a></p>
                </section>
                <section>
                    <h3>Social</h3>
                    <ul class="icons alt">
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    </ul>
                </section>
            </section>
        </footer>

        <!-- Copyright -->
        <div id="copyright">
            <ul>
                <li>&copy; Untitled</li>
                <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="{{'/assets/js/jquery.min.js' | url}}"></script>
    <script src="{{'/assets/js/jquery.scrollex.min.js' | url}}"></script>
    <script src="{{'/assets/js/jquery.scrolly.min.js' | url}}"></script>
    <script src="{{'/assets/js/browser.min.js' | url}}"></script>
    <script src="{{'/assets/js/breakpoints.min.js' | url}}"></script>
    <script src="{{'/assets/js/util.js' | url}}"></script>
    <script src="{{'/assets/js/main.js' | url}}"></script>

</body>

</html>